.Pleasure {
    height: 260px;
    background-image: url('../../Img/coffee__bg.svg');
    &__title {
        padding-top: 130px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
    }
}